@using System.Text
@using Euclid.Composite.MvcApplication.Models
@model PartModel

<h1>@ViewBag.Title</h1>

@if (Model.TypeMetadata.Properties.Count() > 0)
{
	<h3>Properties</h3>
	<ul>
		@foreach (var p in Model.TypeMetadata.Properties)
		{
			<li>@p.Name (@p.PropertyType.Name)</li>
		}
	</ul>
}

@if (Model.TypeMetadata.Methods.Count() > 0)
{
	<h3>Methods</h3>
	<ul>
		@foreach (var m in Model.TypeMetadata.Methods)
		{
			var sb = new StringBuilder();
			foreach (var a in m.Arguments)
			{
				if (sb.Length > 0)
				{
					sb.Append(", ");
				}

				sb.AppendFormat("{0} {1}", a.PropertyType.Name, a.Name);

				if (a.DefaultValue != null)
				{
					sb.AppendFormat("<i>={0}</i>", a.DefaultValue);
				}
			}

			<li>
				@m.ReturnType
				@m.Name (@Html.Raw(sb.ToString()))
			</li>
		}
	</ul>
}

@{ Html.RenderPartial("MetadataLinks", Model); }