@using Euclid.Composites.Mvc
@using ForumAgent
@model AdminComposite.Areas.Forum.InputModels.CreateForumInputModel
		   
<script type="text/javascript">
	$(document).ready(function () {
		$("#forum-name").focus();

		$("#generate-slug").click(function () {
			var forumSlug = slugify($("#forum-name").val());
			$("#forum-slug").val(forumSlug);

			var orgSlug = $("#org-slug").val();
			var host = $("#forum-host").val();
			setForumUrl(host, forumSlug);
		});

		$("#forum-name, #forum-slug").blur(function () {
			var slug = $("#forum-slug").val();

			if (isNullOrEmpty(slug)) {
				slug = slugify($("#forum-name").val());
			}

			$("#forum-slug").val(slug);
			var host = $("#forum-host").val();
			setForumUrl(host, slug);
		});

		$("#forum-slug").focus(function () {
			$(this).selectRange(0, $(this).val().length);
		});

		$("#forum-slug").mouseup(function () {
			return false;
		});

		$("#sumbit-create-command").click(function () {
			$("#forum-host-name").val($("#available-hosts"));
		});

		$("#available-hosts").change(function () {
			var host = $("#available-hosts").val();
			var slug = $("#forum-slug").val();
			setForumUrl(host, slug);
		});
	});

	function setForumUrl(host, slug) {
		if (!host || !slug) {
			$("#forum-preview-url").hide();
		} else {
			url = "http//" + host + "/org/@AdminInfo.OrganizationSlug/forum/" + slug;
			$("#forum-preview-url").html("Forum url: <b><span>" + url + "</span></b></p>");
			$("#forum-preview-url").show();
		}
	}
</script>

<article>
	<header>
		<h2>Add Forum</h2>
	</header>
</article>

<section id="forum-form-section">
	@using (Html.BeginFormForInputModel(Model, true, "/Dashboard/Index"))
	{
		@Html.HiddenFor(m => m.OrganizationId)
		@Html.HiddenFor(m => m.CreatedBy)
		@Html.HiddenFor(m => m.Theme)
		@Html.HiddenFor(m => m.UrlHostName, new { id = "forum-host-name" })
		@Html.ValidationSummary()
		<input type="hidden" name="org-slug" value="@AdminInfo.OrganizationSlug" id="org-slug" />
		<fieldset>
			<legend>Details</legend>

			<dl>
				<dt>@Html.LabelFor(m => m.Name)</dt>
				<dd>@Html.TextBoxFor(m => m.Name, new { id = "forum-name" })</dd>

				<dt>@Html.LabelFor(m => m.UrlSlug)</dt>
				<dd>
					@Html.TextBoxFor(m => m.UrlSlug, new { id = "forum-slug" })
					<p><a href="#" id="generate-slug">generate slug</a></p>
				</dd>

				<dt><label for="available-hosts">Host Name</label></dt>
				<dd>
					<select name="hosts" id="available-hosts">
						<option value="">-- Select a Host --</option>
						@foreach (var host in Model.AvailableHosts)
						{
							<option value="@host">@host</option>
						}
					</select>
					<p id="forum-preview-url" style="display:none">Forum url: <b><span id="forum-url">http//newco-forums.com/org/@AdminInfo.OrganizationSlug/forum/{forum-slug}</span></b></p>
				</dd>

				<dt>@Html.LabelFor(m => m.Description)</dt>
				<dd>
					@Html.TextAreaFor(m => m.Description, new { id = "forum-description", @class = "wysiwyg", @readonly = "readonly" })
				</dd>

				<dt class="checkbox">@Html.LabelFor(m => m.Moderated)</dt>
				<dd>@Html.CheckBoxFor(m => m.Moderated, new { id = "forum-moderated" })</dd>

				<dt class="checkbox">@Html.LabelFor(m => m.Private)</dt>
				<dd>@Html.CheckBoxFor(m => m.Private, new { id = "forum-private" })</dd>
			</dl>
		</fieldset>

		<fieldset>
			<legend>Voting</legend>
				
			<dl>
				<dt class="radio"><label for="forum-voting-enabled">None</label></dt>
				<dd>
					@Html.RadioButtonFor(m => m.VotingScheme, VotingScheme.NoVoting, new { @class = "voting-scheme", id = "forum-voting-disabled" })
				</dd>

				<dt class="radio"><label for="forum-voting-updown">Up/Down</label></dt>
				<dd>
					@Html.RadioButtonFor(m => m.VotingScheme, VotingScheme.UpDownVoting, new { @class = "voting-scheme", id = "forum-voting-updown" })
				</dd>
			</dl>
		</fieldset>

		<input type="submit" class="button" value="Create Forum" id="sumbit-create-command"/>
	}
</section>

@section Breadcrumbs{
	<ul id="breadcrumbs">
		<li>@Html.ActionLink("Home", "Index", "Dashboard")</li>
		<li>Create Forum</li>
	</ul>
}