@model ForumComposite.ViewModels.Tag.AllTagsViewModel
@{
	ViewBag.Title = ForumInfo.ForumName + " - Tags";
	Layout = "~/Views/Shared/_ForumLayout.cshtml";
	ViewBag.TagsClass = "active";
}
<ul class="breadcrumb">
	<li><a href="@Url.RouteUrl("Home")">@ForumInfo.ForumName Home</a> <span class="divider">/</span></li>
	<li class="active">Tags</li>
</ul>
<h1>Tags</h1>

@Html.Partial("Layout/CustomContent", "taglisting-header")

<hr />

@{
	var catCount = 0;

	var totalCategories = Model.Tags.Count;

	var needsPadding = false;
	var cellsToPad = 0;
	
	if(totalCategories % 3 != 0)
	{
		needsPadding = true;

		cellsToPad = 3 - (totalCategories % 3);
	}
}

@foreach (var tagDetail in Model.Tags)
{
	if(catCount % 3 == 0)
	{
		@:<div class="row">
	}
	
	<div class="span5">
		<h2><a href="@Url.RouteUrl("Tag", new { tagSlug = tagDetail.Tag.Name })">@tagDetail.Tag.Name</a></h2>
		
		@foreach(var post in tagDetail.Posts)
		{
			@RenderPage("~/Views/Shared/PostTile.cshtml", new { Size = "Medium", Mode = "Condensed", Post = post })
		}
		<a href="@Url.RouteUrl("Tag", new { tagSlug = tagDetail.Tag.Name })">View</a> @tagDetail.Tag.TotalPosts more posts.
	</div>

	if (needsPadding && catCount == (totalCategories - 1))
		{
			for (var i = 0; i < cellsToPad; i++)
			{
				<div class="span5"></div>
			}
			@:</div><hr/>
		}

		if (catCount % 3 == 2)
		{
			@:</div><hr/>
		}

	{
		catCount++;
	}
}

<div class="pagination">
	<ul>
		<li class="prev disabled"><a href="#">&larr; Previous</a></li>
		<li><a href="#">1</a></li>
		<li class="active"><a href="#">2</a></li>
		<li><a href="#">3</a></li>
		<li class="disabled"><a href="#">...</a></li>
		<li><a href="#">45</a></li>
		<li><a href="#">46</a></li>
		<li><a href="#">47</a></li>
		<li class="next"><a href="#">Next &rarr;</a></li>
	</ul>
</div>