@using System.Globalization
@using AdminComposite.Areas.Forum.InputModels
@model ForumAgent.ReadModels.AvailableStopWords
@{
	ViewBag.Title = "Manage Forum Profanity Filter";
	((PaginationModel)ViewBag.Pagination).ColSpan = 3;
	((PaginationModel)ViewBag.Pagination).WriteTFoot = false;
	((PaginationModel)ViewBag.Pagination).WriteTable = false;
	((PaginationModel)ViewBag.Pagination).WriteTr = false;
}
<script type="text/javascript" src="@Url.Content("~/Content/jquery.timers-1.2.js")"> </script>
<script type="text/javascript">
	$(document).ready(function() {
		$(".add-content").click(function() {
			EUCLID.showModalForm({ Url:"@Url.Action("NewStopWord", "ProfanityFilter", new { forumId = Model.ForumIdentifier })"});
			return false;
		});

		$("#save").click(function() {
			$("#save").attr("disabled", "disabled");
			var inputModel = EUCLID.getInputModel({ commandName: "ActivateStopWord", agentSystemName: "Newco.ForumAgent" });

			$(".stopWord-active").each(function(index, item) {
				inputModel.StopWordIdentifier = $(item).attr("data-item-id");
				inputModel.Active = $(item).is(":checked");
				inputModel.publish();

				$.get("@Url.Action("ActivateStopWord", "ProfanityFilter")", { contentId: contentId, active: active });
			});

			window.location.reload();
		});

		$("#edit").click(function() {
			$(".stopWord-active").removeAttr("disabled");
			$(".actions").removeClass("hidden");
			$("#edit").hide();
			$("#save").show();
			$("#cancel").show();
		});

		$("#cancel").click(function() {
			window.location.reload();
		});
	});

	function deleteStopWord(stopWordId) {
		var inputModel = EUCLID.getInputModel({ commandName: "DeleteStopWord", agentSystemName: "Newco.ForumAgent" });
		inputModel.StopWordIdentifier = stopWordId;
		inputModel.publish();

		window.location.reload();
	}

</script>

<article>
	<header>
		<h2>@ViewBag.Title</h2>
	</header>

	<section>
		<p style="float: left">Add, delete, or activate stop words in your forum's profanity filter.</p>
		<a style="float: right" href="#" class="button-link blue add-content">Add Stop Word</a>
	</section>

	<table>
		<thead>
			<tr>
				<th>Active</th>
				<th>Word to Match</th>
				<th>Replacement Word</th>
				<th>&nbsp;</th>
			</tr>
		</thead>
		@if (Model.TotalStopWords == 0)
		{
			<tbody class="no-table-data">
				<tr>
					<td colspan="4">This forum does not yet have any stop words. <a href="#" class="add-content">Add stop words</a></td>
				</tr>
			</tbody>
		}
		else
		{
			<tfoot>
				<tr>
					<td>
						<ul class="button-switch">
							<li><button type="button" id="edit">Edit</button></li>
							<li><button type="submit" id="save" class="green" style="display: none">Save</button></li>
							<li><button type="button" id="cancel"  style="display: none">Cancel</button></li>
						</ul>
					</td>
					@Html.Partial("_Pagination")
				</tr>
			</tfoot>
			<tbody>
				@foreach (var stopWord in Model.StopWords)
				{
					<tr>
						<td>@Html.CheckBoxFor(m => stopWord.Active, new { @class = "stopWord-active", data_item_id = stopWord.Identifier, data_item_name = string.Format("{0} - {1}", stopWord.Identifier, stopWord.WordToMatch) })</td>
						<td>@stopWord.WordToMatch</td>
						<td>
							@if (stopWord.ReplacementWord.Length == 0)
							{
								<text><i>removed without replacement</i></text>
							}
							else
							{
								@stopWord.ReplacementWord
							}
						</td>
						<td>
							<ul class="actions">
								<li><a class="admin-delete confirmation-dialog" href="#" rel="tooltip" original-title="Delete" data-confirmation-message="Do you want to delete this stop word?" data-confirm-function="deleteStopWord" data-item-id="@stopWord.Identifier">Delete</a></li>
							</ul>
						</td>
					</tr>
				}
			</tbody>
		}
	</table>
</article>
@section Breadcrumbs{
	<ul id="breadcrumbs">
		<li>@Html.ActionLink("Home", "Index", "Dashboard")</li>
		<li>@CultureInfo.CurrentCulture.TextInfo.ToTitleCase(Model.ForumName)</li>
		<li>@ViewBag.Title</li>
	</ul>
}