@using ForumSkeletonMvc.ViewModels.Tag
@model AllTagsViewModel
@{
	ViewBag.Title = "{Forum Name} - Tags";
	Layout = "~/Views/Shared/_ForumLayout.cshtml";
	ViewBag.TagsClass = "active";
}
<ul class="breadcrumb">
	<li><a href="@Url.RouteUrl("Home")">{Forum Name} Home</a> <span class="divider">/</span></li>
	<li class="active">Tags</li>
</ul>
<h1>Tags</h1>
<hr />

<div class="row">

	<div class="span5">
		<h2><a href="@Url.RouteUrl("Tag", new { tagSlug = "tag" })">{Tag Name}</a></h2>
		<p>A brief description of the tag.</p>
		@for (int i = 1; i < 5; i++)
	{
			@RenderPage("~/Views/Shared/PostTile.cshtml", new { Size = "Medium", Mode = "Condensed" })
	}
		<a href="#">View</a> 33 more posts.
	</div>

	<div class="span5">
		<h2><a href="@Url.RouteUrl("Tag", new { tagSlug = "tag" })">{Tag Name}</a></h2>
		<p>A brief description of the tag.</p>
		@for (int i = 1; i < 5; i++)
	{
			@RenderPage("~/Views/Shared/PostTile.cshtml", new { Size = "Medium", Mode = "Condensed" })
	}
		<a href="#">View</a> 33 more posts.
	</div>

	<div class="span5">
		<h2><a href="@Url.RouteUrl("Tag", new { tagSlug = "tag" })">{Tag Name}</a></h2>
		<p>A brief description of the tag.</p>
		@for (int i = 1; i < 5; i++)
	{
			@RenderPage("~/Views/Shared/PostTile.cshtml", new { Size = "Medium", Mode = "Condensed" })
	}
		<a href="#">View</a> 33 more posts.
	</div>

</div>

<hr>

<div class="row">

	<div class="span4" style="font-size: small;">
		<h3><a href="@Url.RouteUrl("Tag", new { tagSlug = "tag" })">{Tag Name}</a></h3>
		<p style="font-size: smaller;">A brief description of the tag.</p>
		@for (int i = 1; i < 3; i++)
	{
			@RenderPage("~/Views/Shared/PostTile.cshtml", new { Size = "Small", Mode = "Condensed" })
	}
		<a href="#">View</a> 33 more posts.
	</div>

	<div class="span4" style="font-size: small;">
		<h3><a href="@Url.RouteUrl("Tag", new { tagSlug = "tag" })">{Tag Name}</a></h3>
		<p style="font-size: smaller;">A brief description of the tag.</p>
		@for (int i = 1; i < 3; i++)
	{
			@RenderPage("~/Views/Shared/PostTile.cshtml", new { Size = "Small", Mode = "Condensed" })
	}
		<a href="#">View</a> 33 more posts.
	</div>

	<div class="span4" style="font-size: small;">
		<h3><a href="@Url.RouteUrl("Tag", new { tagSlug = "tag" })">{Tag Name}</a></h3>
		<p style="font-size: smaller;">A brief description of the tag.</p>
		@for (int i = 1; i < 3; i++)
	{
			@RenderPage("~/Views/Shared/PostTile.cshtml", new { Size = "Small", Mode = "Condensed" })
	}
		<a href="#">View</a> 33 more posts.
	</div>

	<div class="span4" style="font-size: small;">
		<h3><a href="@Url.RouteUrl("Tag", new { tagSlug = "tag" })">{Tag Name}</a></h3>
		<p style="font-size: smaller;">A brief description of the tag.</p>
		@for (int i = 1; i < 3; i++)
	{
			@RenderPage("~/Views/Shared/PostTile.cshtml", new { Size = "Small", Mode = "Condensed" })
	}
		<a href="#">View</a> 33 more posts.
	</div>

</div>

<hr />

<div class="pagination">
	<ul>
		<li class="prev disabled"><a href="#">&larr; Previous</a></li>
		<li><a href="#">1</a></li>
		<li class="active"><a href="#">2</a></li>
		<li><a href="#">3</a></li>
		<li class="disabled"><a href="#">...</a></li>
		<li><a href="#">45</a></li>
		<li><a href="#">46</a></li>
		<li><a href="#">47</a></li>
		<li class="next"><a href="#">Next &rarr;</a></li>
	</ul>
</div>

