@model ForumComposite.ViewModels.PostListing.PopularPostsViewModel
@{
	ViewBag.Title = ForumInfo.ForumName + " Home";
	Layout = "~/Views/Shared/_ForumLayout.cshtml";
}

@Html.Partial("Layout/CustomContent", "home-dismissableheader")
@Html.Partial("Layout/CustomContent", "home-permanentheader")

<ul class="tabs">
	<li class="active"><a href="@Url.RouteUrl("PopularPosts")">Popular Posts</a></li>
	<li><a href="@Url.RouteUrl("ControversialPosts")">Controversial Posts</a></li>
	<li><a href="@Url.RouteUrl("AllPosts")">All Posts</a></li>
</ul>
<!-- top posts -->

@{
	var postCount = 0;
	var totalPosts = Model.Listing.Posts.Count;

	var postsToPad = 0;
	var needsPadding = false;
	
	if((totalPosts - 2) % 4 != 0)
	{
		needsPadding = true;
		postsToPad = 4 - (totalPosts % 4);
	}
}

@foreach(var post in Model.Listing.Posts){

	if (postCount < 2)
	{
		if (postCount % 2 == 0)
		{
			@:<div class="row">
		}
		if (postCount == 0)
		{
			<div class="span10">
				@RenderPage("~/Views/Shared/PostTile.cshtml", new { Size = "XLarge", Post = post })
			</div>
		}
		else
		{
			<div class="span6">
				@RenderPage("~/Views/Shared/PostTile.cshtml", new { Size = "Large", Post = post })
			</div>
		}
		
		if(needsPadding && postCount == (totalPosts - 1))
		{
			for(var i = 0; i<(postsToPad - 2); i++)
			{
				<div class="span4"></div>
			}
			@:</div><hr/>
		}

		if (postCount % 2 == 1)
		{
			@:</div><hr/>
		}
	}
	else
	{

		if ((postCount - 2) % 4 == 0)
		{
			@:<div class="row">
		}

			<div class="span4">
				@RenderPage("~/Views/Shared/PostTile.cshtml", new { Size = "Small", Post = post })
			</div>

		if(needsPadding && postCount == (totalPosts - 1))
		{
			for(var i = 0; i<postsToPad; i++)
			{
				<div class="span4"></div>
			}
			@:</div><hr/>
		}

		if ((postCount - 2) % 4 == 3)
		{
			@:</div><hr/>
		}
	}

	{
		postCount++;
	}
}

@{
	var pages = Model.Listing.TotalPosts % 10;
}

<div class="pagination">
	<ul>
		<li class="prev disabled"><a href="#">&larr; Previous</a></li>
		@for (var i = 1; i < pages + 1; i++ )
	{
		<li @if(i == Model.CurrentPage){<text>class="active"</text>}><a href="?page=@i">@i</a></li>
	}
		<li class="next"><a href="#">Next &rarr;</a></li>
	</ul>
</div>