@using Euclid.Common.Extensions
@model ForumComposite.ViewModels.Profile.ProfileRecentActivityViewModel
@{
	ViewBag.Title = ForumInfo.ForumName + " - " + Model.User.Username + "'s Recent Activity";
	Layout = "~/Views/Shared/_ForumLayout.cshtml";
	ViewBag.ProfileRecentActivityClass = "active";
}
<ul class="breadcrumb">
	<li><a href="@Url.RouteUrl("Home")">@ForumInfo.ForumName Home</a> <span class="divider">/</span></li>
	<li><a href="@Url.RouteUrl("AllProfiles")">All Users</a> <span class="divider">/</span></li>
	<li><a href="@Url.RouteUrl("ProfileOverview", new { profileSlug = Model.User.Username.Slugify() })">@Model.User.Username</a> <span class="divider">/</span></li>
	<li class="active">Recent Activity</li>
</ul>
<h1>@Model.User.Username's Recent Activity</h1>
<hr />

@Html.Partial("_Tabs", Model.User.Username.Slugify())

@if(Model.Activity.Count == 0)
{
	<div class="row">
		<div class="span10">
			
			<p>This user has no recent activity.</p>

		</div>
	</div>
}

@foreach(var action in Model.Activity)
{
	if(action.IsPost)
	{
		<div class="row">

			<div class="span10">
				<h3><a href="@Url.RouteUrl("Post", new { postIdentifier = action.AssociatedPostIdentifier, postSlug = action.AssociatedPostTitle.Slugify() })">@action.AssociatedPostTitle</a></h3>
				<p>@action.Body &mdash; <span style="text-align: right; font-size: smaller;">
																	<em>@action.ActivityOccurredOn.ToString("h:mm tt M/d/yyyy")</em> in <a href="@Url.Action("Category")" class="label">Category</a>
																</span>
				</p>
			</div>

		</div>
		<div class="row">

			<div class="span10">
				<hr />
			</div>

		</div>
	}
	else if (action.IsComment)
	{
		<div class="row">

			<div class="span10">
				<p>Comment on post: <strong style="font-size: 18px"><a href="@Url.RouteUrl("Post", new { postIdentifier = action.AssociatedPostIdentifier, postSlug = action.AssociatedPostTitle.Slugify() })">
																															@action.AssociatedPostTitle</a></strong>. </p>
				<p>@action.Body &mdash; <span style="text-align: right; font-size: smaller;"><em>@action.ActivityOccurredOn.ToString("h:mm tt M/d/yyyy")</em></span></p>
			</div>

		</div>
		<div class="row">

			<div class="span10">
				<hr />
			</div>

		</div>
	}
}