@using Euclid.Composites.Mvc
@model AdminComposite.Areas.Forum.InputModels.UpdateForumAvatarInputModel

<script type="text/javascript">
	$(document).ready(function() {
		$("#change-image").click(function() {
			$("#avatar-preview").hide();
			$(this).hide();
			$("#avatar-image").show();
			$("#reset-image").show();

			$("#avatar-image").click();
		});

		$("#reset-image").click(function() {
			$("#avatar-image").val("");
			$("#avatar-preview").show();
			$("#change-image").show();
			$("#avatar-image").hide();
			$(this).hide();
		});
	});
</script>

<section>
	@using (Html.BeginFormForInputModel(Model))
	{
		@Html.HiddenFor(m => m.AvatarIdentifier)
		@Html.HiddenFor(m => m.ImageUrl)
		<fieldset>
			<legend>Update Avatar</legend>

			<dl>
				<dt><label for="avatar-name">Avatar Name</label></dt>
				<dd>@Html.TextBoxFor(m => m.Name, new { id = "avatar-name" })</dd>

				<dt><label for="avatar-description">Description</label></dt>
				<dd>@Html.TextAreaFor(m => m.Description, new { id = "avatar-description" })</dd>

				<dt><label for="avatar-image">Image</label></dt>
				<dd>
					<div>
						<img class="avatar-preview" id="avatar-preview" src="@Model.ImageUrl" alt="avatar preview" style="display: inline"/>
						@Html.TextBoxFor(m => m.Image, new { id = "avatar-image", type = "file", style = "display:none" })
					</div>
					<a href="#" id="change-image">Change Image</a>

					<a href="#" id="reset-image" data-original-url="@Model.ImageUrl" style="display: none">Reset Image</a>
				</dd>
			</dl>
		</fieldset>

		<button type="submit">Save</button>
	}
</section>