@using System.Globalization
@using AdminComposite.Areas.Forum.InputModels
@model ForumAgent.ReadModels.AvailableAvatars

@{
	ViewBag.Title = "Manage Forum Avatars";
	Layout = "~/Views/Shared/_Layout.cshtml";
	((PaginationModel)ViewBag.Pagination).ColSpan = 4;
	((PaginationModel)ViewBag.Pagination).WriteTFoot = false;
	((PaginationModel)ViewBag.Pagination).WriteTable = false;
	((PaginationModel)ViewBag.Pagination).WriteTr = false;
}

<script type="text/javascript">
	var forumId = "@Model.ForumIdentifier";
	$(document).ready(function() {
		$(".create-avatar").click(function() {
			EUCLID.showModalForm({ Url: "@Url.Action("NewAvatar", new { forumId = Model.ForumIdentifier})" });

			return false;
		});

		$("#save").click(function() {
			$(this).attr("disabled", "disabled");
			var inputModel = EUCLID.getInputModel({ commandName: "ActivateAvatar", agentSystemName: "Newco.ForumAgent" });

			$(".avatar-active").each(function(index, item) {
				var currentName = $(item).attr("data-item-name");
				inputModel.AvatarIdentifier = $(item).attr("data-item-id");
				inputModel.Active = $(item).is(":checked");
				inputModel.publish();
			});

			window.location.reload();
		});

		$(".edit").click(function() {
			var avatarId = $(this).attr("data-item-id");

			$("<div></div>")
				.load("@Url.Action("UpdateAvatar")?avatarId=" + avatarId)
				.modal({
					autoResize: true,
					autoPosition: true,
					position: new Array(25, 300),
					dataCss: { backgroundColor: "#fff", overflow: "hidden", height: 485, width: 635 },
					containerCss: { height: 500, width: 650 }
				});
			return false;
		});

		$("#edit").click(function() {
			$(".avatar-active").removeAttr("disabled");
			$(".actions").removeClass("hidden");
			$("#edit").hide();
			$("#save").show();
			$("#cancel").show();
		});

		$("#cancel").click(function() {
			window.location.reload();
		});
	});

	function deleteAvatar(avatarId) {
		var inputModel = EUCLID.getInputModel({ commandName: "DeleteAvatar", agentSystemName: "Newco.ForumAgent" });
		inputModel.AvatarIdentifier = avatarId;
		inputModel.publish();

		$("tr[data-avatar-id='" + avatarId + "']").remove();
		return false;
	}
</script>

<article>
	<header>
		<h2>@ViewBag.Title</h2>
	</header>

	<section>
		<p style="float: left">Setting an avatar to active means it will be awarded to users when the trigger threshold is satisfied.</p>
		<a href="#" style="float: right" class="button-link blue create-avatar">Add Avatar</a>
	</section>

	<table>
		<thead>
			<tr>
				<th>Active</th>
				<th>Name</th>
				<th>Image</th>
				<th>Description</th>
				<th></th>
			</tr>
		</thead>
		@if (Model.TotalAvatars == 0)
		{
			<tbody class="no-table-data">
				<tr>
					<td colspan="5">This forum does not yet have any avatars. <a href="#" class="create-avatar">Create an avatar.</a></td>
				</tr>
			</tbody>
		}
		else
		{
			<tfoot>
				<tr>
					<td>
						<ul class="button-switch">
							<li><button type="button" id="edit">Edit</button></li>
							<li><button type="submit" id="save" class="green" style="display: none">Save</button></li>
							<li><button type="button" id="cancel"  style="display: none">Cancel</button></li>
						</ul>
					</td>
					@Html.Partial("_pagination")
				</tr>
			</tfoot>
			<tbody>
				@foreach (var avatar in Model.Avatars)
				{
					<tr data-avatar-id="@avatar.Identifier">
						<td>@Html.CheckBoxFor(m => avatar.Active, new { @class = "avatar-active", disabled="disabled", data_item_id = @avatar.Identifier, data_item_name = @avatar.Name })</td>
						<td>@avatar.Name</td>
						<td>@if (!string.IsNullOrEmpty(avatar.Url))
								{
									<text><img class="avatar-preview" src="@avatar.Url" alt="avatar image" /></text>
								}
								else
								{
									<text>&nbsp;</text>
								}</td>
						<td>@avatar.Description</td>
						<td>
							<ul class="actions">
								<li><a class="admin-delete confirmation-dialog" href="#" rel="tooltip" original-title="Delete Avatar" data-confirmation-message="Do you want to delete the avatar @avatar.Name?" data-confirm-function="deleteAvatar" data-item-id="@avatar.Identifier">Delete</a></li>
								<li><a class="edit" rel="tooltip" href="#" data-item-id="@avatar.Identifier" original-title="Edit">Edit</a></li>
							</ul>
						</td>
					</tr>
				}
			</tbody>
		}
	</table>
</article>

@section Breadcrumbs {
	<ul id="breadcrumbs">
		<li><a href="@Url.Action("Index", "Dashboard")" title="Back to Homepage">Home</a></li>
		<li>@CultureInfo.CurrentCulture.TextInfo.ToTitleCase(Model.ForumName)</li>
		<li>@ViewBag.Title</li>
	</ul>
}