@using System.Globalization
@using Euclid.Composites.Mvc
@model AdminComposite.Areas.Forum.InputModels.UpdateForumInputModel
@{
	ViewBag.Title = "Manage Forum Details";
	var forumUrl = string.Format("http://{0}/org/{1}/forum/{2}", Model.UrlHostName, AdminInfo.OrganizationSlug, Model.UrlSlug);
}

<script type="text/javascript" src="@Url.Content("~/Content/jeditable/jquery.jeditable.wysiwyg.js")"> </script>
<script type="text/javascript">
	$(document).ready(function() {
		$("#forum-name").focus();

		$("#trigger-edit").click(function() {
			$("#cancel-edit").show();
			$("#save-settings").show();
			$("#generate-slug").show();
			$("#trigger-edit").hide();
			$("#forum-moderated").removeAttr("disabled");
			$("#forum-private").removeAttr("disabled");

			$("#forum-settings .forum-setting").each(function(index, item) {
				var type = $(item).attr("id") == "forum-description" ? "wysiwyg" : "text";
				if (type == "wysiwyg") {
					$(item).addClass("editor");
				}

				$(item).editable("enable");

				$(item).editable(null, {
					cssclass: "jeditable",
					onblur: "ignore",
					type: type
				});

				$(item).click();
			});
		});

		$("#save-settings").click(function() {
			$("#forum-settings .forum-setting").each(function(index, item) {
				var id = item.id;
				var value = "";

				if (id == "forum-description") {
					// from jquery.jeditable.wysiwyg.js
					var iframe = $("iframe", this).get(0);
					var inner_document = typeof(iframe.contentDocument) == 'undefined' ? iframe.contentWindow.document.body : iframe.contentDocument.body;
					value = $(inner_document).html();
				} else {
					var inputSelector = "#" + id + " input";
					value = $(inputSelector).val();
				}

				var updateSelector = "#update-" + id;
				$(updateSelector).val(value);
				console.log(id + " = " + value);
			});

			$("#update-forum-private").val($("#forum-private").is(":checked"));
			$("#update-forum-moderated").val($("#forum-moderated").is(":checked"));
			$("#update-form").submit();
		});

		$("#cancel-edit").click(function() {
			window.location.reload();
		});

		$("#generate-slug").click(function() {
			var forumSlug = slugify($("#forum-name input").val());
			$("#forum-slug input").val(forumSlug);

			var orgSlug = $("#org-slug").val();
			var host = $("#forum-host input").val();
			setForumUrl(host, orgSlug, forumSlug);
		});


		$("#forum-name input, #forum-slug input").live("blur", function() {
			var slug = $("#forum-slug input").val();

			if (isNullOrEmpty(slug)) {
				slug = slugify($("#forum-name input").val());
			}

			$("#forum-slug input").val(slug);
			var orgSlug = $("#org-slug").val();
			var host = $("#forum-host input").val();
			setForumUrl(host, orgSlug, slug);
		});
	});
</script>

<style>
	.jeditable {
		margin: 0;
		padding: 0;
		display: inline;
	}

	.editor {
		width: 498px;
		margin: 0;
		padding: 0;
		display: inline;
	}

	.tab { overflow: visible; }
</style>

<div class="article-container">
	<article>
		<header>
			<h2>@ViewBag.Title</h2>

			<nav class="tab-switch">
				<ul>
					<li><a href="#test" class="default-tab current">Test</a></li>
					<li><a href="#production">Production</a></li>
				</ul>
			</nav>
		</header>
	</article>
	<section>
			
		<div id="test" class="tab default-tab">
			<form action="#">
				<fieldset>
					<legend>Details</legend>
						
					<dl id="forum-settings">
						<dt><label for="forum-name">Name</label></dt>
						<dd class="text"><p class="forum-setting" id="forum-name">@Model.Name</p></dd>

						<dt><label for="forum-slug">Slug</label></dt>
						<dd class="text">
							<p class="forum-setting" id="forum-slug">@Model.UrlSlug</p>
							<p><a href="#" id="generate-slug" style="display: none">generate slug</a></p>
						</dd>

						<dt><label for="forum-host">Host</label></dt>
						<dd class="text">
							<p class="forum-setting" id="forum-host">@Model.UrlHostName</p>
							<p style="font-size: 77%">Forum url: <b><span id="forum-url">@forumUrl</span></b></p>
						</dd>

						<dt><label for="forum-description">Description</label></dt>
						<dd class="text">
							<span class="forum-setting" id="forum-description">@Html.Raw(Model.Description)</span>
						</dd>

						<dt class="checkbox"><label for="forum-private">Private</label></dt>
						<dd>
							@Html.CheckBoxFor(m => m.Private, new { id = "forum-private", disabled = "disabled" })
						</dd>

						<dt class="checkbox"><label for="forum-moderated">Moderated</label></dt>
						<dd>
							@Html.CheckBoxFor(m => m.Moderated, new { id = "forum-moderated", disabled = "disabled" })
						</dd>
					</dl>
				</fieldset>
			</form>
			@using (Html.BeginFormForInputModel(Model, true, Url.Action("Details", "Forum", new { forumId = Model.ForumIdentifier }), "update-form"))
			{
				@Html.HiddenFor(m => m.ForumIdentifier)
				;
				@Html.Hidden("orgSlug", AdminInfo.OrganizationSlug, null)
				@Html.HiddenFor(m => m.Moderated, new { id = "update-forum-moderated" })
				@Html.HiddenFor(m => m.Private, new { id = "update-forum-private" })
				@Html.HiddenFor(m => m.Description, new { id = "update-forum-description" })
				@Html.HiddenFor(m => m.UrlHostName, new { id = "update-forum-host" })
				@Html.HiddenFor(m => m.UrlSlug, new { id = "update-forum-slug" })
				@Html.HiddenFor(m => m.Name, new { id = "update-forum-name" })
			}

			<button id="trigger-edit" type="button">Edit</button>
			<button id="save-settings" type="submit" class="green" style="display: none">Save Settings</button>
			<button id="cancel-edit" type="button" style="display: none">Cancel</button>
			<button id="deploy-settings" type="submit" style="display: none">Deploy to Production</button>
		</div>

		<div id="production" class="tab" style="display: none">
			<form action="#">
				<fieldset>
					<legend>Details</legend>
						
					<dl>
						<dt><label for="forum-name">Name</label></dt>
						<dd class="text"><p>@Model.Name</p></dd>

						<dt><label for="forum-slug">Slug</label></dt>
						<dd class="text"><p>@Model.UrlSlug</p></dd>

						<dt><label for="forum-host">Host</label></dt>
						<dd  class="text">
							<p>@Model.UrlHostName</p>
							<p style="font-size: 77%">Forum url: <b><span id="forum-url">@forumUrl</span></b></p>
						</dd>

						<dt><label>Description</label></dt>
						<dd class="text">
							<p>@Html.Raw(Model.Description)</p>
						</dd>

						<dt class="checkbox"><label for="forum-private">Private</label></dt>
						<dd>
							<input type="checkbox" disabled="disabled" @if (Model.Private)
																												 {
																												 	<text>checked="checked"</text>
																												 }/>
						</dd>

						<dt class="checkbox"><label for="forum-moderated">Moderated</label></dt>
						<dd>
							<input type="checkbox" disabled="disabled" @if (Model.Moderated)
																												 {
																												 	<text>checked="checked"</text>
																												 }/>
						</dd>
					</dl>
				</fieldset>
			</form>
		</div>
	</section>
</div>

@section Breadcrumbs{
	<ul id="breadcrumbs">
		<li>@Html.ActionLink("Home", "Index", "Dashboard")</li>
		<li>@CultureInfo.CurrentCulture.TextInfo.ToTitleCase(Model.Name)</li>
		<li>@ViewBag.Title</li>
	</ul>
}