@using Euclid.Composites.Mvc
@model AdminComposite.Areas.Forum.InputModels.UpdateBadgeInputModel

<script type="text/javascript">
	$(document).ready(function() {
		$("#change-image").click(function() {
			$("#badge-preview").hide();
			$(this).hide();
			$("#badge-image").show();
			$("#reset-image").show();

			$("#badge-image").click();
		});

		$("#reset-image").click(function() {
			$("#badge-image").val("");
			$("#badge-preview").show();
			$("#change-image").show();
			$("#badge-image").hide();
			$(this).hide();
		});
	});
</script>

<section>
	@using (Html.BeginFormForInputModel(Model))
	{
		@Html.HiddenFor(m => m.BadgeIdentifier)
		@Html.HiddenFor(m => m.ImageUrl)
		<fieldset>
			<legend>Update Badge</legend>

			<dl>
				<dt><label for="badge-name">Badge Name</label></dt>
				<dd>@Html.TextBoxFor(m => m.Name, new { id = "badge-name" })</dd>

				<dt><label for="badge-field">Field</label></dt>
				<dd>@Html.DropDownListFor(m => m.Field, Model.Fields, "-- Select --") </dd>

				<dt><label for="badge-trigger-operator">Operator</label></dt>
				<dd>@Html.DropDownListFor(m => m.Operator, Model.Operators, "-- Select --")</dd>

				<dt><label for="award-value">Value</label></dt>
				<dd>@Html.TextBoxFor(m => m.Value, new { id = "award-value" })</dd>

				<dt><label for="badge-description">Description</label></dt>
				<dd>@Html.TextAreaFor(m => m.Description, new { id = "badge-description" })</dd>

				<dt><label for="badge-image">Image</label></dt>
				<dd>
					<div>
						<img class="badge-preview" id="badge-preview" src="@Model.ImageUrl" alt="badge preview" style="display: inline"/>
						@Html.TextBoxFor(m => m.Image, new { id = "badge-image", type = "file", style = "display:none" })
					</div>
					<a href="#" id="change-image">Change Image</a>

					<a href="#" id="reset-image" data-original-url="@Model.ImageUrl" style="display: none">Reset Image</a>
				</dd>
			</dl>
		</fieldset>	

		<input type="submit" value="Save" />
	}
</section>