@using System.Globalization
@using Andromeda.Composites.Mvc
@model AdminComposite.Areas.Forum.InputModels.ForumThemeInputModel
@{
	ViewBag.Title = "Manage Forum Themes";
}
<script type="text/javascript">
	$(document).ready(function() {
		$("#theme-selector").change(function() {
			var selected = $("#theme-selector option:selected");
			var src = selected.attr("data-preview-image");

			$("#theme-preview").attr("src", src);
			$("#selected-theme").val(selected.val());
		});

		$("#edit-theme").click(function() {
			$("#theme-selector").removeAttr("disabled");

			$("#edit-theme").hide();
			$("#save-theme").show();
			$("#cancel-edit").show();
			$("#selected-theme").val("");
		});

		$("#save-theme").click(function() {
			return $("#selected-theme").val() != '';
		});

		$("#cancel-edit").click(function() {
			window.location.reload();
		});
	});
</script>
<article>
	<header>
		<h2>@ViewBag.Title</h2>
	</header>
	<p></p>
	@using (Html.BeginFormForInputModel(Model, true, Url.Action("List", "Theme"), "update-form"))
	{
		@Html.HiddenFor(m => m.ForumIdentifier)
		;
		@Html.HiddenFor(m => m.SelectedTheme, new { id = "selected-theme" })
		;
		@Html.HiddenFor(m => m.ForumName, new { id = "forum-name" })
		;

		<fieldset>
			<legend>Themes</legend>
			<dl>
				<dt><label for="theme-selector">Theme</label></dt>
				<dd>
					<select id="theme-selector" disabled="disabled">
						@foreach (var theme in Model.AvailableThemes)
						{
							<option data-preview-image="@theme.PreviewUrl"  @if (theme.Name.Equals(Model.SelectedTheme, StringComparison.InvariantCultureIgnoreCase))
																															{
																																<text>selected="selected"</text>
																															}>@theme.Name</option>
						}
					</select>
				</dd>

				<dt><label>Preview</label></dt>
				<dd class="text">
					<img id="theme-preview" alt="theme-preview" src="@Model.SelectedPreviewUrl"/>
				</dd>
			</dl>
		</fieldset>

		<button type="button" id="edit-theme">Edit</button>
		<button type="submit" id="save-theme" class="green" style="display: none">Save</button>
		<button type="button" id="cancel-edit"  style="display: none">Cancel</button>
	}
</article>

@section Breadcrumbs{
	<ul id="breadcrumbs">
		<li>@Html.ActionLink("Home", "Index", "Dashboard")</li>
		<li>@CultureInfo.CurrentCulture.TextInfo.ToTitleCase(Model.ForumName)</li>
		<li>@ViewBag.Title</li>
	</ul>
}