@using Euclid.Composites.Mvc
@model AdminComposite.Areas.Forum.InputModels.CreateTagInputModel
<section>
	@using (Html.BeginFormForInputModel(Model))
	{
		@Html.HiddenFor(m => m.ForumIdentifier)
		;
		@Html.HiddenFor(m => m.CreatedBy)
		;
		@Html.ValidationSummary()
		<fieldset>
			<legend>New Tag</legend>
		
			<dl>
				<dt>@Html.LabelFor(m => m.Name)</dt>
				<dd>@Html.TextBoxFor(m => m.Name, new { id = "tag-name" })</dd>

				<dt class="checkbox">@Html.LabelFor(m => m.Active)</dt>
				<dd>@Html.CheckBoxFor(m => m.Active, new { id = "tag-active" })</dd>
			</dl>
		</fieldset>
		<button type="submit">Save</button>
	}
</section>