@using System.Globalization
@using AdminComposite.Areas.Forum.InputModels
@model ForumAgent.ReadModels.AvailableTags
@{
	ViewBag.Title = "Manage Forum Tags";
	((PaginationModel)ViewBag.Pagination).ColSpan = 3;
	((PaginationModel)ViewBag.Pagination).WriteTFoot = false;
	((PaginationModel)ViewBag.Pagination).WriteTable = false;
	((PaginationModel)ViewBag.Pagination).WriteTr = false;
}

<script type="text/javascript">
	$(document).ready(function() {

		$(".create-tag").click(function() {
			Andromeda.showModalForm({ Url: "@Url.Action("NewTag", "Tag")?forumId=@Model.ForumIdentifier"});
			return false;
		});

		$("#edit").click(function() {
			$(".tag-active").removeAttr("disabled");
			$(".actions").removeClass("hidden");
			$("#edit").hide();
			$("#save").show();
			$("#cancel").show();
		});

		$("#cancel").click(function() {
			window.location.reload();
		});

		$(".edit").click(function() {
			var categoryId = $(this).attr("data-tag-id");

			$("<div></div>")
				.load("@Url.Action("UpdateTag", "Tag")?tagId=" + categoryId)
				.modal({
					autoResize: true,
					autoPosition: true,
					position: new Array(25, 300),
					dataCss: { backgroundColor: "#fff", overflow: "hidden", height: 485, width: 635 },
					containerCss: { height: 500, width: 650 },
					onClose: function(dialog) {
						window.location.href = window.location.href;
					}
				});
			return false;
		});


		$("#save").click(function() {
			$("#save").attr("disabled", "disabled");
			var inputModel = Andromeda.getInputModel({ commandName: "ActivateTag", agentSystemName: "Newco.ForumAgent" });

			$(".tag-active").each(function(index, item) {
				inputModel.TagIdentifier = $(item).attr("data-item-id");
				inputModel.Active = $(item).is(":checked");
				inputModel.publish();
			});

			window.location.href = window.location.href;
		});
	});
</script>

<article>
	<header>
		<h2>@ViewBag.Title</h2>
	</header>

	<section>
		<p style="float: left">View, add, edit, and activate tags for this forum</p>
		<a href="#" style="float: right" class="button-link blue create-tag">Add Tag</a>
	</section>
	
	<table id="category-table">
		<thead>
			<tr>
				<th>Active</th>
				<th>Name</th>
				<th>Posts</th>
				<th></th>
			</tr>
		</thead>
		@if (Model.TotalTags == 0)
		{
			<tbody class="no-table-data">
				<tr>
					<td colspan="4">This forum does not yet have any tags. <a href="#" class="create-tag">Create a tag.</a></td>
				</tr>
			</tbody>
		}
		else
		{
			<tfoot>
				<tr>
					<td>
						<ul class="button-switch">
							<li><button type="button" id="edit">Edit</button></li>
							<li><button type="submit" id="save" class="green" style="display: none">Save</button></li>
							<li><button type="button" id="cancel"  style="display: none">Cancel</button></li>
						</ul>
					</td>
					@Html.Partial("_pagination")
				</tr>
			</tfoot>
			<tbody>
				@foreach (var tag in Model.Tags)
				{
					<tr>
						<td>@Html.CheckBoxFor(m => tag.Active, new { @class = "tag-active", disabled="disabled", data_item_id = tag.Identifier, data_item_name = tag.Name })</td>
						<td><span data-category-id="@tag.Identifier">@tag.Name</span></td>
						<td>@tag.TotalPosts</td>
						<td>
							<ul class="actions hidden">
								<li><a href="#" class="edit" data-tag-id="@tag.Identifier" rel="tooltip" original-title="Edit Tag">edit tag</a></li>
							</ul>
						</td>
					</tr>
				}
			</tbody>
		}
	</table>
</article>

@section Breadcrumbs{
	<ul id="breadcrumbs">
		<li>@Html.ActionLink("Home", "Index", "Dashboard")</li>
		<li>@CultureInfo.CurrentCulture.TextInfo.ToTitleCase(Model.ForumName)</li>
		<li>@ViewBag.Title</li>
	</ul>
}