<section id="user-info">
	<img src="@AdminInfo.AuthenticatedUserGravatar" alt="Sample User Avatar">
	<div>
		<a href="#" title="Account Settings and Profile Page">@AdminInfo.AuthenticatedUserFirstName @AdminInfo.AuthenticatedUserLastName</a> 
		<em>@AdminInfo.OrganizationName Administrator</em> 
		<ul>
			<li><a class="button-link" href="@Url.Action("DoSignout", "Authentication", new { Area = ""})">logout</a></li>
		</ul>
	</div>
</section>