@using Euclid.Composite.MvcApplication.Models
@using Euclid.Composite.MvcApplication.Models
@model FooterLinkModel

<div class="metadata-links-container" id="link-container">
    <ul class="metadata-links-list">
        @if (!string.IsNullOrEmpty(Model.AgentSytemName) && !string.IsNullOrEmpty(Model.PartType))
        {
            <li class="metadata-link-item">
                <a class="metadata-link" href="@Url.Action("ViewPartCollection", "Agents", new { AgentSystemName = Model.AgentSytemName, PartName = Model.PartType})">
                    @Model.AgentSytemName's @Model.PartDescriptiveName
                </a>
            </li>
        }

        @if (!string.IsNullOrEmpty(Model.AgentSytemName))
        {
            <li class="metadata-link-item"><a class="metadata-link" href="@Url.Action("ViewAgent", "Agents", new { AgentSystemName = Model.AgentSytemName, })">@Model.AgentSytemName details</a></li>
        }

        <li class="metadata-link-item"><a class="metadata-link" href="@Url.Action("Index", "Agents")">Agents in composite</a></li>
    </ul>
</div>