@using Euclid.Composite.MvcApplication.Models
@model AgentPartModel


@Model.Part.DescriptiveName
        (<a href="@Url.Action("ViewPartCollection", "Agents", new { agentSystemName = @Model.AgentSystemName, descriptiveName = @Model.Part.DescriptiveName })">html</a> |
        <a href="@Url.Action("ViewPartCollection", "Agents", new { agentSystemName = @Model.AgentSystemName, descriptiveName = @Model.Part.DescriptiveName, format = "xml" })">xml</a> |
        <a href="@Url.Action("ViewPartCollection", "Agents", new { agentSystemName = @Model.AgentSystemName, descriptiveName = @Model.Part.DescriptiveName, format = "json" })">json</a>)
<ul>
@foreach(var p in @Model.Part.Collection)
{
	<li id="@Model.AgentSystemName-@Model.Part.CollectionType.Name.ToLower()">
        @p.Namespace.@p.Name
        (<a href="@Url.Action(@Model.NextAction, "Agents", new { agentSystemName = @Model.AgentSystemName, partName = p.Name })">html</a> |
        <a href="@Url.Action(@Model.NextAction, "Agents", new { agentSystemName = @Model.AgentSystemName, partName = p.Name, format = "xml" })">xml</a> |
        <a href="@Url.Action(@Model.NextAction, "Agents", new { agentSystemName = @Model.AgentSystemName, partName = p.Name, format = "json" })">json</a>)

    </li>
}
</ul>