@using ForumSkeletonMvc.ViewModels.Tag
@model TagDetailViewModel
@{
	ViewBag.Title = "{Forum Name} - {Tag Name}";
	Layout = "~/Views/Shared/_ForumLayout.cshtml";
	ViewBag.TagsClass = "active";
}
<ul class="breadcrumb">
	<li><a href="@Url.RouteUrl("Home")">{Forum Name} Home</a> <span class="divider">/</span></li>
	<li><a href="@Url.RouteUrl("Tags")">Tags</a> <span class="divider">/</span></li>
	<li class="active">{Tag Name}</li>
</ul>
<h1>{Tag Name}</h1>
<hr />
<p><small>(Custom tag content.)</small></p>

<div class="row">

	<div class="span8">
		@RenderPage("~/Views/Shared/PostTile.cshtml", new { Size = "Large" })
	</div>

	<div class="span8">
		@RenderPage("~/Views/Shared/PostTile.cshtml", new { Size = "Large" })
	</div>

</div>

<hr>

<div class="row">

	<div class="span8">
		@RenderPage("~/Views/Shared/PostTile.cshtml", new { Size = "Large" })
	</div>

	<div class="span8">
		@RenderPage("~/Views/Shared/PostTile.cshtml", new { Size = "Large" })
	</div>

</div>

<hr>

<div class="row">

	<div class="span4">
		@RenderPage("~/Views/Shared/PostTile.cshtml", new { Size = "Small" })
	</div>

	<div class="span4">
		@RenderPage("~/Views/Shared/PostTile.cshtml", new { Size = "Small" })
	</div>

	<div class="span4">
		@RenderPage("~/Views/Shared/PostTile.cshtml", new { Size = "Small" })
	</div>

	<div class="span4">
		@RenderPage("~/Views/Shared/PostTile.cshtml", new { Size = "Small" })
	</div>

</div>

<hr />

<div class="pagination">
	<ul>
		<li class="prev disabled"><a href="#">&larr; Previous</a></li>
		<li><a href="#">1</a></li>
		<li class="active"><a href="#">2</a></li>
		<li><a href="#">3</a></li>
		<li class="disabled"><a href="#">...</a></li>
		<li><a href="#">45</a></li>
		<li><a href="#">46</a></li>
		<li><a href="#">47</a></li>
		<li class="next"><a href="#">Next &rarr;</a></li>
	</ul>
</div>