@model ForumComposite.ViewModels.Category.AllCategoriesViewModel
@{
	ViewBag.Title = ForumInfo.ForumName + " - Categories";
	Layout = "~/Views/Shared/_ForumLayout.cshtml";
	ViewBag.CategoriesClass = "active";
}
<ul class="breadcrumb">
	<li><a href="@Url.RouteUrl("Home")">@ForumInfo.ForumName Home</a> <span class="divider">/</span></li>
	<li class="active">Categories</li>
</ul>
<h1>Categories</h1>

@Html.Partial("Layout/CustomContent", "categorylisting-header")

<hr />

@{
	var catCount = 0;

	var totalCategories = Model.Categories.Count;

	var needsPadding = false;
	var cellsToPad = 0;
	
	if(totalCategories % 3 != 0)
	{
		needsPadding = true;

		cellsToPad = 3 - (totalCategories % 3);
	}
}

@foreach (var categoryDetail in Model.Categories)
{
	if(catCount % 3 == 0)
	{
		@:<div class="row">
	}
	
	<div class="span5">
		<h2><a href="@Url.RouteUrl("Category", new { categorySlug = categoryDetail.Category.Slug })">@categoryDetail.Category.Name</a></h2>
		<p>A brief description of the category.</p>
		
		@foreach(var post in categoryDetail.Posts)
		{
			@RenderPage("~/Views/Shared/PostTile.cshtml", new { Size = "Medium", Mode = "Condensed", Post = post })
		}
		<a href="@Url.RouteUrl("Category", new { categorySlug = categoryDetail.Category.Slug })">View</a> @categoryDetail.Category.TotalPosts more posts.
	</div>

	if (needsPadding && catCount == (totalCategories - 1))
		{
			for (var i = 0; i < cellsToPad; i++)
			{
				<div class="span5"></div>
			}
			@:</div><hr/>
		}

		if (catCount % 3 == 2)
		{
			@:</div><hr/>
		}

	{
		catCount++;
	}
}