@model ForumComposite.ViewModels.Category.CategoryDetailsViewModel
@{
	ViewBag.Title = ForumInfo.ForumName + " - " + Model.Name;
	Layout = "~/Views/Shared/_ForumLayout.cshtml";
	ViewBag.CategoriesClass = "active";
}
<ul class="breadcrumb">
	<li><a href="@Url.RouteUrl("Home")">@ForumInfo.ForumName Home</a> <span class="divider">/</span></li>
	<li><a href="@Url.RouteUrl("Categories")">Categories</a> <span class="divider">/</span></li>
	<li class="active">@Model.Name</li>
</ul>
<h1>@Model.Name</h1>

@Html.Partial("Layout/CustomContent", "individualcategory-header")

<hr />

@{
	var postCount = 0;
	var totalPosts = Model.Listing.Posts.Count;

	var postsToPad = 0;
	var needsPadding = false;
	
	if(totalPosts % 4 != 0)
	{
		needsPadding = true;
		postsToPad = 4 - (totalPosts % 4);
	}
}

@foreach(var post in Model.Listing.Posts){

	if (postCount % 4 == 0)
		{
			@:<div class="row">
		}

			<div class="span4">
				@RenderPage("~/Views/Shared/PostTile.cshtml", new { Size = "Small", Post = post })
			</div>

		if(needsPadding && postCount == (totalPosts - 1))
		{
			for(var i = 0; i<postsToPad; i++)
			{
				<div class="span4"></div>
			}
			@:</div><hr/>
		}

		if (postCount % 4 == 3)
		{
			@:</div><hr/>
		}

	{
		postCount++;
	}
}

@{
	var pages = Model.Listing.TotalPosts % 16;
}

<div class="pagination">
	<ul>
		<li class="prev disabled"><a href="#">&larr; Previous</a></li>
		@for (var i = 1; i < pages + 1; i++ )
	{
		<li @if(i == Model.CurrentPage){<text>class="active"</text>}><a href="?page=@i">@i</a></li>
	}
		<li class="next"><a href="#">Next &rarr;</a></li>
	</ul>
</div>
